/.vs/fb-mvc2014-issue/v14/.suo
/fb-mvc2014-issue.VC.db
/fb-mvc2014-issue/Debug/Deferred.obj
/fb-mvc2014-issue/Debug/fb-mvc2014-issue.Build.CppClean.log
/fb-mvc2014-issue/Debug/fb-mvc2014-issue.log
/fb-mvc2014-issue/Debug/fb-mvc2014-issue.tlog/CL.command.1.tlog
/fb-mvc2014-issue/Debug/fb-mvc2014-issue.tlog/CL.read.1.tlog
/fb-mvc2014-issue/Debug/fb-mvc2014-issue.tlog/CL.write.1.tlog
/fb-mvc2014-issue/Debug/fb-mvc2014-issue.tlog/fb-mvc2014-issue.lastbuildstate
/fb-mvc2014-issue/Debug/fb-mvc2014-issue.tlog/unsuccessfulbuild
/fb-mvc2014-issue/Debug/precompiled_headers.obj
/fb-mvc2014-issue/Debug/stdafx.obj
/fb-mvc2014-issue/Debug/utf8_tools.obj
/fb-mvc2014-issue/Debug/variant.obj
/fb-mvc2014-issue/Debug/vc140.idb
/fb-mvc2014-issue/Debug/vc140.pdb
